.basic-alert {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--white-bg-color);
  height: 60px;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  display: none;
}

.basic-alert.active {
  display: flex;
  animation: slideIn 0.5s forwards;
}

.basic-alert.inactive {
  animation: slideOut 0.5s forwards;
}

.chip__icon {
  padding: 10px;
  border-radius: 1rem;
  margin: 0 0 0 .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-color);
}

.chip p {
  font-size: .9rem;
  color: var(--font-color);
}

.chip__close {
  padding: 10px;
  color: var(--font-color);
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}