.overview {
  background-color: var(--bg-color);
}

.overview .page-header .icon.wrong,
.overview .page-header .icon.fav {
  color: var(--disabled-color);
}

.overview .page-header .icon.wrong.active,
.overview .page-header .icon.fav.active {
  color: var(--favorite-color);
}

.overview .page-header .icon.clear,
.overview .page-header .icon.trash {
  color: var(--wrong-color);
}

.overview .page-body {
  height: calc(95vh - 20px);
  padding: 0 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.overview .page-body .section {
  margin-top: 5%;
}

.overview .page-body .title {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  border-radius: var(--sm-border-radius);
  border: var(--white-border);
  box-shadow: var(--box-shadow);
  margin-bottom: 5%;
}

.overview .page-body .content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.overview .page-body .content .circle-box {
  width: 20%;
  margin: 2% 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview .page-body .content .circle-box .circle {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: var(--circle-box-shadow);
}

.overview .page-body .content .circle-box .active {
  border: 2px solid #e7e9ef40;
  box-shadow: var(--circle-box-shadow-active);
}

.overview .page-body .content .circle-box .svg-box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--favorite-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview .page-body .content .circle-box .svg-box svg {
  font-size: 9px;
  color: #fff;
}

.overview .empty img {
  display: block;
  max-width: 300px;
  overflow: hidden;
  max-height: 300px;
  height: 180px;
  margin: 100px auto;
  padding: 0;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .overview {
    height: 100vh;
  }
}