.home {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project {
  margin-top: 50px;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white-bg-color);
  border-radius: 8px;
  box-shadow: 2px 2px 3px #d1d3db, -2px -2px 3px #f4f4f6;
}

.project .cover {
  display: block;
  max-width: 300px;
  overflow: hidden;
  max-height: 300px;
  height: 180px;
  margin: 10px auto;
  padding: 0;
  border-radius: var(--border-radius);
}

.project .cover img {
  width: 90%;
}

.project .title {
  font-size: var(--xl-font-size);
  font-weight: 700;
  margin-top: 20px;
}

.project .question_type {
  margin-top: 10px;
  font-size: var(--xs-font-size);
}

.project .progress {
  width: 90%;
  margin: 8% auto;
}

.project .progress .card-progress__back {
  height: 16px;
  border-radius: var(--border-radius);
  background-color: var(--white-bg-color);
  border: 4px solid var(--white-bg-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 4px rgba(255, 255, 255, 0), inset 2px 2px 2px rgba(55, 84, 170, 0.15), inset 35px 28px 64px #fff !important;
}

.project .progress .card-progress__line {
  height: 16px;
  margin-top: -20px;
  margin-left: 4px;
  border-radius: 8px;
  opacity: 1;
  animation: sliding 3s ease infinite;
}

.project .text-blue {
  color: var(--theme-color);
}

.project .btn {
  margin-top: 10px;
}

.project .btn button {
  border: 0;
}

.project .btn button:focus {
  border: none;
  outline: 0 !important;
  outline-style: none;
}

.project .btn .btn {
  position: relative;
  width: 90%;
}

.project .btn .btn .icon-container {
  line-height: 36px;
  letter-spacing: 1px;
  color: var(--theme-color);
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}