.console {
  background-color: var(--bg-color);
  height: 100vh;
}

.console .body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.local-storage-ipt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.console .body .btn {
  padding: 5px;
}

.body .store-data-ipt {
  display: flex;
  align-items: center;
  gap: 10px;
}

.body .store-data-ipt textarea {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
}

.body .btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.body .btn-group .danger {
  background: var(--wrong-color);
  color: var(--white-color);
}