.question.normal {
  position: relative;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.question .content {
  padding: 20px;
}

.question.normal .content {
  height: calc(95vh - 100px);
}

.question .content .content-head {
  font-size: 14px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.question .content .content-head > div {
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  text-align: center;
  background: #f4f6f8;
}

.question .content .content-container {
  max-height: 86%;
  padding: 0 7px 15px;
  margin-top: 5%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.question .content .content-container::-webkit-scrollbar {
  display: none;
}

.question .content .content-container .question-text {
  margin: 0 0 20px;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #c1d3ea, -2px -2px 5px white, -0.4px -0.4px 0.4px white;
}

.question .content .content-container .question-img {
  display: flex;
  justify-content: center;
}

.question .content .content-container .question-img img {
  width: 50%;
}

.question .content .content-container .options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question .content .content-container .answer {
  width: calc(100% - 20px);
  font-size: 14px;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  background: #f4f6f8;
  box-shadow: inset 5px 5px 10px #eaecee, inset -5px -5px 10px #feffff;
}

.question .content .content-container .answer .answer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question .content .content-container .answer .stick-box {
  display: flex;
}

.question .content .content-container .answer .stick-box div {
  padding: 7px;
  margin: 0 5px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  line-height: 18px;
}

.question .content .content-container .answer .stick-box div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question .content .content-container .answer .active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.question .question-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.question .question-footer .menu-card {
  box-sizing: border-box;
  height: 50px;
  border-radius: 5px;
  display: flex;
  line-height: 50px;
  background: #f4f6f8;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 5px #c1d3ea, -2px -2px 5px white, -0.4px -0.4px 0.4px white;
}

.question .question-footer .menu-card .menu-item {
  flex: 1;
  cursor: pointer;
}

.question .question-footer .menu-card .explanation {
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

.question .question-footer .menu-card .prev {
  border-right: 2px solid #eee;
}

.question .question-footer .menu-card .disable {
  color: #b9b9b9;
  cursor: not-allowed;
}

@media screen and (max-width: 400px) {
  .question.normal .content {
    height: calc(100vh - 100px);
  }
}